body {
  margin: 0;
  padding: 0;
  background-color: #0a0a1a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.neon-green {
  color: #00ffcc;
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc, 0 0 40px #00ffcc;
  font-size: 200px;
}

.neon-pink {
  color: #2a60d5;
  text-shadow: 0 0 10px #0000ff, 0 0 20px #3959e5, 0 0 40px #5467df;
  font-size: 20px;
}

.subheading {
  font-size: 1rem;
  letter-spacing: 5px;
  color: #00ffff;
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff;
  margin-bottom: 2rem;
}

.welcome-text {
  font-size: 2rem;
  color: #00ffff;
  text-shadow: 0 0 5px #00ffff, 0 0 15px #00ffff;
  margin-bottom: 2rem;
}

.neon-button {
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
  background-color: #33d077;
  border: none;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  transition: transform 0.2s ease;
}

.neon-button:hover {
  transform: scale(1.05);
}
